#btn1 {
     -fx-text-fill: white;
     -fx-background-color: linear-gradient(#61a2b1, #2A5058);
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
     -fx-margin: 50px;
}

#btn1:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#mainBox {
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#2A5068, #91a2b1);
}